@import '~@angular/material/theming';

.user-card {
  position: relative;
  max-width: 300px;
  margin: 0 auto;
  &:hover {
    @include mat-elevation(6);
  }
}

.user-link {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.mat-card-header {
  img {
    display: inline-block;
    max-width: 100%;
    border-radius: 50%;
  }
}